ul.blog-types {
    list-style-type: none;
}
div.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}
div.blog h3 {
    margin-top: 0.5em;
}
div.blog p.blog-info {
    margin-bottom: 0;
}
div.paginator {
    text-align: center;
}

ul.blog-info-description {
    list-style-type: none;
    margin-bottom: 1em;
}
ul.blog-info-description li{
    display: inline-block;
    margin-right: 1em;
}
div.blog-content{
    text-indent: 2em;
    margin-bottom: 2em;
}
div.blog-more {
    margin-top: 1em;
}

div.comment-area {
    margin-top: 2em;
}
h3.comment-area-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
}

div.django-ckeditor-widget {
    width: 100%;
}

div.comment {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
div.reply {
    margin-left: 2em;
}
div#reply_content_container {
    border: 1px solid #d1d1d1;
    border-bottom: none;
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 1em 1em 0.5em;
}
p#reply_title {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5em;
}

div.like {
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.3em;
}

div.like .active{
    color: #f22;
}

code.has-numbering {
    margin-left: 40px;
}

.pre-numbering {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    padding: 12px 2px 12px 0;
    border-right: 1px solid #66bf2e;
    border-radius: 3px 0 0 3px;
    background-color: #EEE;
    text-align: right;
    font-family: Menlo, monospace;
    font-size: 0.8em;
    color: #AAA;
}