* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 70px!important;
}

ul {
    list-style-type: none!important;
}

.header-banner{
    text-align: center;
    min-height: 257px;
    position: relative;
    margin-top: -30px;
    padding-top: 75px;
    margin-bottom: 20px;
    background-color: #4f7a93;
}