h3.home-content {
    font-size: 222%;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
}

div#container {
    margin: 0 auto;
}

div.hot-data {
    text-align: center;
    margin-top: 2em;
}

.row {
    margin-right: 100px !important;
    margin-left: 100px !important;
}

.home-block-title {
    border-bottom: 1px #ccc solid;
    padding-bottom: 10px;
    font-weight: bold;
}



.home-type {
    min-height: 100px;
}

